{% extends 'TeAyudoBundle:Default:base.html.twig' %} 
{% block logoSection %}
	<div class="logo img-thumbnail" style="margin-top: 67px;">
		<img alt="teayudo.org"
			src="{{ asset('bundles/TeAyudo/images/te-ayudo-logo-short.png') }}">
	</div>
{% endblock %} 
{% block middleAction %}
<center style="margin-top: 81px;">
	<button id="newCycleBtn" class="middleHeader btn btn-primary btn-lg">
		<h4 class="glyphicon glyphicon-plus"></h4>
		&nbsp;&nbsp;Crear un Nuevo Ciclo
	</button>
</center>
{% endblock %} {% block rightMenu%}
<div class="headHome">
	<h2 class="form-signin-heading">Bienvenido</h2>
	<h4>
		{{ username }}
		</h5>

</div>
<ul class="nav nav-pills mainMenu">
	<li class="active"><a href="{{ path('_mainView') }}">Inicio</a></li>
	 <li><a	href="{{ path('_cycles') }}">Mis Ciclos</a></li>
	 <li><a href="{{ path('_userAccount') }}">Mi Cuenta</a></li>
</ul>
<span class="headHome"><a href="{{ path('logout') }}">Salir</a></span>
{% endblock %} {%block content %}

<div class="container">
	<h2 class="form-signin-heading">Administración</h2>
	<div class="row">
		<div
			class="col-lg-12 col-md-12 col-sm-8 col-xs-9 bhoechie-tab-container">
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bhoechie-tab-menu">
				<div class="list-group">
					<a href="#" class="list-group-item active text-center">
						<h4 class="glyphicon glyphicon-retweet"></h4>
						<br />Nuevos Ciclos
					</a> 
					<a href="#" class="list-group-item text-center">
						<h4 class="glyphicon glyphicon-user"></h4>
						<br />Nuevos Usuarios
					</a> 
					<a href="#" class="list-group-item text-center">
						<h4 class="glyphicon glyphicon-retweet"></h4>&nbsp;&nbsp;&nbsp;&nbsp;<h4 class="glyphicon glyphicon-chevron-right"></h4>&nbsp;&nbsp;&nbsp;&nbsp;<h4 class="glyphicon glyphicon-asterisk"></h4>
						<br />Ciclos Activos
					</a> 
					<a href="#" class="list-group-item text-center">
						<h4 class="glyphicon glyphicon-user"></h4>&nbsp;&nbsp;&nbsp;&nbsp;<h4 class="glyphicon glyphicon-chevron-right"></h4>&nbsp;&nbsp;&nbsp;&nbsp;<h4 class="glyphicon glyphicon-asterisk"></h4>
						<br/>Usuarios Activos
					</a>
					<a href="#" class="list-group-item text-center">
						<h4 class="glyphicon glyphicon-retweet"></h4>&nbsp;&nbsp;&nbsp;&nbsp;<h4 class="glyphicon glyphicon-chevron-right"></h4>&nbsp;&nbsp;&nbsp;&nbsp;<h4 class="glyphicon glyphicon-minus-sign"></h4>
						<br />Ciclos Denegados
					</a> 
					<a href="#" class="list-group-item text-center">
						<h4 class="glyphicon glyphicon-user"></h4>&nbsp;&nbsp;&nbsp;&nbsp;<h4 class="glyphicon glyphicon-chevron-right"></h4>&nbsp;&nbsp;&nbsp;&nbsp;<h4 class="glyphicon glyphicon-minus-sign"></h4>
						<br/>Usuarios Denegados
					</a>
				</div>
			</div>
			<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bhoechie-tab">
				<div class="bhoechie-tab-content active">
					<center>
						<div class="list-group">
							<table class="table table-striped">
								<tr>
									<th>#ID</th>
									<th>Titulo</th>
									<th>Descripción</th>
									<th>Usuario</th>
									<th>Fecha</th>
									<th>Ver</th>
									<th>Aceptar</th>
									<th>Cancelar</th>
								</tr>
								{% for cycle in newCycles %}
								<tr>
									<td>{{ cycle.id }}</td>
									<td>{{ cycle.title }}</td>
									<td>{{ cycle.description }}</td>
									<td>{{ cycle.user.email }}</td>
									<td>{{ cycle.title }}</td>
									<td><center>
											<a href="{{ path('_publication', {cycleId: cycle.id}) }}"><span
												class="glyphicon glyphicon-search"></span></a>
										</center></td>
									<td><center>
											<a href="{{ path('_approveCycle', {cycleId: cycle.id}) }}"><span class="glyphicon glyphicon-ok"></span></a>
										</center></td>
									<td><center>
											<a href="{{ path('_denyCycle', {cycleId: cycle.id}) }}"><span class="glyphicon glyphicon-remove"></span></a>
										</center></td>
								</tr>
								{% endfor %}
							</table>
						</div>
					</center>
				</div>
				<div class="bhoechie-tab-content">
					<center>
						<div class="list-group">
							<table class="table table-striped">
								<tr>
									<th>#ID</th>
									<th>Nombre</th>
									<th>Email</th>
									<th>Aceptar</th>
									<th>Cancelar</th>
								</tr>
								{% for user in newUsers %}
								<tr>
									<td>{{ user.id }}</td>
									<td>{{ user.name }}</td>
									<td>{{ user.email }}</td>
									<td><center>
											<a href="{{ path('_approveUser', {userId: user.id}) }}"><span class="glyphicon glyphicon-ok"></span></a>
										</center></td>
									<td><center>
											<a href="{{ path('_denyUser', {userId: user.id}) }}" onclick="return confirm('Está seguro de que desea denegar el Usuario?');"><span class="glyphicon glyphicon-remove"></span></a>
										</center></td>
								</tr>
								{% endfor %}
							</table>
						</div>
					</center>
				</div>
				<div class="bhoechie-tab-content">
					<center>
						<div class="list-group">
							<table class="table table-striped">
								<tr>
									<th>#ID</th>
									<th>Titulo</th>
									<th>Descripción</th>
									<th>Usuario</th>
									<th>Fecha</th>
									<th>Ver</th>
									<th>Cancelar</th>
								</tr>
								{% for cycle in activeCycles %}
								<tr>
									<td>{{ cycle.id }}</td>
									<td>{{ cycle.title }}</td>
									<td>{{ cycle.description }}</td>
									<td>{{ cycle.user.email }}</td>
									<td>{{ cycle.title }}</td>
									<td>
										<center>
											<a href="{{ path('_publication', {cycleId: cycle.id}) }}"><span
												class="glyphicon glyphicon-search"></span></a>
										</center>
									</td>
									<td>
										<center>
											<a href="{{ path('_denyCycle', {cycleId: cycle.id}) }}" onclick="return confirm('Está seguro de que desea denegar el Ciclo?');"><span class="glyphicon glyphicon-remove"></span></a>
										</center>
									</td>
								</tr>
								{% endfor %}
							</table>
						</div>
					</center>
				</div>
				<div class="bhoechie-tab-content">
					<center>
						<div class="list-group">
							<table class="table table-striped">
								<tr>
									<th>#ID</th>
									<th>Nombre</th>
									<th>Email</th>
									<th>Cancelar</th>
								</tr>
								{% for user in activeUsers %}
								<tr>
									<td>{{ user.id }}</td>
									<td>{{ user.name }}</td>
									<td>{{ user.email }}</td>
									<td>
										<center>
											<a href="{{ path('_denyUser', {userId: user.id}) }}"><span class="glyphicon glyphicon-remove" onclick="return confirm('Está seguro de que desea denegar el Usuario?');"></span></a>
										</center>
									</td>
								</tr>
								{% endfor %}
							</table>
						</div>
					</center>
				</div>
				<div class="bhoechie-tab-content">
					<center>
						<div class="list-group">
							<table class="table table-striped">
								<tr>
									<th>#ID</th>
									<th>Titulo</th>
									<th>Descripción</th>
									<th>Usuario</th>
									<th>Fecha</th>
									<th>Ver</th>
									<th>Aceptar</th>
								</tr>
								{% for cycle in deniedCycles %}
								<tr>
									<td>{{ cycle.id }}</td>
									<td>{{ cycle.title }}</td>
									<td>{{ cycle.description }}</td>
									<td>{{ cycle.user.email }}</td>
									<td>{{ cycle.title }}</td>
									<td>
										<center>
											<a href="{{ path('_publication', {cycleId: cycle.id}) }}"><span
												class="glyphicon glyphicon-search"></span></a>
										</center>
									</td>
									<td>
										<center>
											<a href="{{ path('_approveCycle', {cycleId: cycle.id}) }}"><span class="glyphicon glyphicon-ok"></span></a>
										</center>
									</td>
								</tr>
								{% endfor %}
							</table>
						</div>
					</center>
				</div>
				<div class="bhoechie-tab-content">
					<center>
						<div class="list-group">
							<table class="table table-striped">
								<tr>
									<th>#ID</th>
									<th>Nombre</th>
									<th>Email</th>
									<th>Aceptar</th>
								</tr>
								{% for user in deniedUsers %}
								<tr>
									<td>{{ user.id }}</td>
									<td>{{ user.name }}</td>
									<td>{{ user.email }}</td>
									<td>
										<center>
											<a href="{{ path('_approveUser', {userId: user.id}) }}"><span class="glyphicon glyphicon-ok"></span></a>
										</center>
									</td>
								</tr>
								{% endfor %}
							</table>
						</div>
					</center>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function() {
    $("div.bhoechie-tab-menu>div.list-group>a.list-group-item").click(function(e) {
        e.preventDefault();
        $(this).siblings('a.active').removeClass("active");
        $(this).addClass("active");
        var index = $(this).index();
        $("div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
        $("div.bhoechie-tab>div.bhoechie-tab-content").eq(index).addClass("active");
    });
    $("div.bhoechie-tab-content>center>div.list-group>div.input-group>a.list-group-item").click(function(e) {
        e.preventDefault();
        $("div.bhoechie-tab-content>center>div.list-group>div.input-group>a.list-group-item").each(function(){
        	$(this).removeClass("active");
        });
        $(this).addClass("active");
        var index = $(this).index();
    });
    $("#newCycleBtn").click(function(e){
    	e.preventDefault();
    	window.location="./create";
    });
});

{% if error is not empty %}
	toastr.error('{{ error }}');
{% endif %}
{% if successMessage is not empty %}
	toastr.success('{{ successMessage }}');
{% endif %}
{% if denySuccessMessage is not empty %}
toastr.success('{{ denySuccessMessage }}');
{% endif %}
</script>

{% endblock %}
