{% extends 'TeAyudoBundle:Default:base.html.twig' %} 
{% block middleAction %} 
{% endblock %}

{% block rightMenu%} 
<div class="headHome">
	<h2 class="form-signin-heading">Bienvenido</h2>
	<h4>{{ username }}</h5>
</div>
<ul class="nav nav-pills mainMenu">
	 <li class="active"><a href="../main">Inicio</a></li>
	 <li><a	href="../myCycles">Mis Ciclos</a></li>
	 <li><a href="../myAccount">Mi Cuenta</a>
	 </li>
</ul>
<span class="headHome"><a href="logout">Salir</a></span>
{% endblock %} 

{%block content %} 
{% if error %}	
{% else %}
{% for cycle in resultCycle %}
	<div class="container createPageJumbo">
		<h2 class="form-signin-heading">{{ cycle.title }}</h2>
		<div class="row">
	        <div class="container col-md-6 panel-body">
	        	<p class="text-primary">Fecha</p>
				<p>{{ cycle.dateString }}</p>
				<p class="text-primary">Descripción</p>
				<p>{{ cycle.description }}</p>
				<p class="text-primary">Estado</p>
				{% if cycle.ended == true %}
					<p>Terminado</p>
				{% else %}
					<p>Activo</p>
				{% endif %}
				<p class="text-primary">@Usuario</p>
				<p>{{ cycle.user.name }}</p>
				<script type="text/javascript">
					var cycleCoords = "{{ cycle.coords }}";
				</script>				
	        </div>
	        <div id="map_canvas" class="col-md-6 map-middle-page">
	        </div>
	  </div>
	</div>
{% endfor %}
{% endif %}
<script type="text/javascript" src="{{ asset('bundles/TeAyudo/js/publicationView.js') }}">
</script>

{% endblock %}
