{% extends 'TeAyudoBundle:Default:base.html.twig' %}
{% block logoSection %}
	<div class="logo img-thumbnail" style="margin-top: 67px;">
		<img alt="teayudo.org"
			src="{{ asset('bundles/TeAyudo/images/te-ayudo-logo-short.png') }}">
	</div>
{% endblock %} 
{% block middleAction %} 
<center style="margin-top: 81px;">
<button id="newCycleBtn" class="middleHeader btn btn-primary btn-lg"><h4 class="glyphicon glyphicon-plus"></h4>&nbsp;&nbsp;Crear un Nuevo Ciclo</button>
</center>
{% endblock %}

{% block rightMenu%} 
<div class="headHome">
	<h2 class="form-signin-heading">Bienvenido</h2>
	<h4>{{ username }}</h5>
</div>
<ul class="nav nav-pills mainMenu">
	 <li><a href="{{ path('_mainView') }}">Inicio</a></li>
	 <li><a	href="{{ path('_cycles') }}">Mis Ciclos</a></li>
	 <li  class="active"><a href="{{ path('_userAccount') }}">Mi Cuenta</a></li>
</ul>
<span class="headHome"><a href="logout">Salir</a></span>
{% endblock %} 

{%block content %} 
	
<div class="container">
<h2 class="form-signin-heading">Mi Cuenta</h2>
	{{ form_start(userForm) }} 
		<div class="row">
				
				{% if error %}
					toastr.error('{{ error }}');
				{% endif %}
				<div class="col-md-6">
				<h3 class="form-signin-heading">Complete su perfil</h3>
				Foto
				{% if user.photoPath %}
					<div class="inputWrapper avatar" style="background-image: url('{{ user.webPath }}');">
				{% else %}
					<div class="inputWrapper avatar" style="background-image: url({{ asset('bundles/TeAyudo/images/noprofileimage.jpg') }});">
				{% endif %}
	    			{{ form_widget(userForm.file,{'attr':{'class':'fileInput hiddenFile','name':'photoInputFile'}}) }}
	    			
	    		</div>
				{{ form_widget(userForm.name,{'attr': {'placeholder': 'Nombre Completo', 'class': 'registration-input'} }) }} 
				{{ form_widget(userForm.email, {'attr': {'placeholder': 'Email','class': 'registration-input'} }) }} 
				{{ form_widget(userForm.telephone, {'attr': {'placeholder':'Teléfono', 'class': 'registration-input'} }) }}
				{{ form_widget(userForm.cellphone, {'attr': {'placeholder':'Celular', 'class': 'registration-input'} }) }}
				{{ form_widget(userForm.coords) }}
				</div>
				<div class="col-md-6">
					<h3 class="form-signin-heading">Ingrese su ubicación</h3>
					<input type="hidden" name="hiddenLatLng" id="hiddenLatLng" value=""/>
					<input class="input-searchBox registration-input" type="text" id="searchBoxInput"/>		
					<div id="map_canvas" style="max-height: 430px"></div>
				</div>
	  </div>
	  {{ form_widget(userForm.save) }}
  {{ form_end(userForm) }}
</div>
<script type="text/javascript" src="{{ asset('bundles/TeAyudo/js/createCycle.js') }}">
</script>
<script type="text/javascript">
$(function() {
    $(".inputWrapper").mousedown(function() {
        var button = $(this);
        button.addClass('clicked');
        setTimeout(function(){
            button.removeClass('clicked');
        },50);
    });

    {% if user.coords %}
	    marker.setPosition(parseLatLngString('{{ user.coords }}'));
		marker.setMap(map);
		$("#hiddenLatLng").val(scope.latLng.toString());
    {% endif %}
});
$("[type='file']").change(function(){
	readURL(this);
});
function readURL(input) {

    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $(".inputWrapper").attr('style', 'background-image: url('+e.target.result+');');
        }

        reader.readAsDataURL(input.files[0]);
    }
};

$("#newCycleBtn").click(function(e){
	e.preventDefault();
	window.location="./create";
});

{% if successMessage is not empty %}
	toastr.success('{{ successMessage }}');
{% endif %}
</script>
{% endblock %}
