{% extends 'TeAyudoBundle:Default:base.html.twig' %} 
{% block middleAction %} 
{% endblock %}

{% block rightMenu%} 
<div class="headHome">
	<h2 class="form-signin-heading">Bienvenido</h2>
	<h4>{{ username }}</h5>
</div>
<ul class="nav nav-pills mainMenu">
	 <li class="active"><a href="main">Inicio</a></li>
	 <li><a	href="myCycles">Mis Ciclos</a></li>
	 <li><a href="myAccount">Mi Cuenta</a>
	 </li>
</ul>
<span class="headHome"><a href="logout">Salir</a></span>
{% endblock %} 

{%block content %} 
	
<div class="container">
<h2 class="form-signin-heading">Comenzar un Nuevo Ciclo</h2>
{% if successMessage is empty%}
          	{{ form_start(cycleForm) }}
          		<div class="container row createPageJumbo">
	          		<div class="col-md-6"> 
					
					{% if error %}
						<div class="alert alert-warning">
							<h5>{{ error }}</h5>
						</div>
					{% endif %}
					{{ form_widget(cycleForm.cycleType) }}
					{{ form_widget(cycleForm.title, 
						{'attr': {'placeholder': 'Título', 'class': 'registration-input'} }) }}
					{{ form_widget(cycleForm.contactData, 
						{'attr': {'placeholder': 'Datos de contacto', 'class': 'registration-input'} }) }} 
					{{ form_widget(cycleForm.description, {'attr': {'placeholder': 'Ingrese la descripción del nuevo Ciclo','class': 'registration-input', 'rows': '21'} }) }}
					</div>
					<div class="col-md-6 map-middle-page">
					<h3 class="form-signin-heading">Ingrese la Ubicación</h3> 
					<input type="hidden" name="hiddenLatLng" id="hiddenLatLng" value=""/>
					<input class="input-searchBox registration-input" type="text" id="searchBoxInput"/>
					<div id="map_canvas" style="margin-bottom:30px;"></div>
					</div>
				</div>
				<div class="actionFormButtons"><a href="main" class="registration-input">Volver</a>{{ form_widget(cycleForm.save) }}</div> 
			{{ form_end(cycleForm) }}  
{% else %}
	<div class="alert alert-warning" style="margin-top:30px"><h4>{{successMessage}}</strong></h4>
{% endif %}	
</div>
<script type="text/javascript" src="{{ asset('bundles/TeAyudo/js/createCycle.js') }}"/>			
</script>
{% endblock %}
